.headerContainer {
    width: 100vw;
    height: 100px;
    /* background-color: var(--primary-color-03); */
    /* position: fixed; */
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.headerLeftContainer{
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 2rem;
}
.headerDescriptionLeft{
   display: flex;
}

.headerDescriptionRight{
    display: none;
}




.headerRightContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 2rem;
}

.headerRightButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}


.outlineButtonContainer {
    padding: .9rem 1rem;
    min-width: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    border-radius: 30px;
}

.availableText {}

.contactFillContainer {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--accent-color);
    cursor: pointer;
}


.pulse {
    width: 7px;
    height: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    border-radius: 10px;
    opacity: 1;
    margin-right: .7rem;
    margin-left: .2rem;
    position: relative;
}

.pulseChild {
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    opacity: .8;
    position: absolute;
    background-color: var(--orange-color);
    animation: pluseAnimation 2s infinite;
}

.linkContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    width: max-content;
}

.linkContainer i {
    margin-left: 1rem;
}

.linkPile {
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 1em;
    position: absolute;
    z-index: -1;
    left: calc(-1em);

}


/* work card */
.workCardContainer {
    width: 100%;
    aspect-ratio: 1/.5;
    border-radius: 2rem;
    /* background-color: red; */
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;




}

.workCardImg {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 2rem;
    transition: 300ms ease-in all;
    transform: scale(1);
}

.workCardBackdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 1.9rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #0e0d0d7e);
}


.workCardConent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.workCardContainer:hover {
    .workCardImg {
        transition: 300ms ease-in all;
        transform: scale(1.2);
    }

    .hastagCardsContainer {
        transition: 300ms ease-in all;
        opacity: 1;
    }

    .workCardLinkIcon {
        opacity: 1;
        transition: 300ms ease-in all;
    }

    .workCardWords {
        /* margin-top: 2rem; */
        /* transform: translateY(0); */
        transition: 300ms ease-in all;


    }
    .workCardDescriptionText {
        min-height: 40px;
        max-height: 100px;
        padding:1em 0px ;
        opacity: 1;

        
    }


}

.workCardWords {
    /* margin-top: 2rem; */
    /* transform: translateY(110px); */
    transition: 300ms ease-in all;

}

.workCardLinkIcon {
    opacity: 0;
    transition: 300ms ease-in all;
}

.workCardDescriptionText {
    min-height: 0px;
    max-height: 0px;
    opacity: 0;
    transition: 300ms ease-in all;
}

.hastagCardsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 3rem;
    opacity: 0;
    transition: 300ms ease-in all;
}


.hastagCard {
    min-width: 30px;
    min-height: 10px;
    border-radius: .3em;
    background-color: rgba(1, 1, 1, .4);
    padding: .2em .4em;
    margin-left: .5em;
    margin-bottom: .5em;
}

.accordionContainer {
    width: 100%;
    height: 100%;
}

.accordionblock {
    display: flex;
    flex-direction: column;

}

.accordionHeader {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    border-top: solid white 1px;
    /* border-bottom: solid white 1px; */

}

.accordionContent {
    max-height: 990px;
    width: 100%;
    overflow: hidden;
    transition: all 600ms ease-in;
    opacity: 1;
}

.accordionContentClose {
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    transition: 600ms all ease-in-out;
    opacity: 0;
}

.accordionArrow {
    transform: rotate(180deg);
    transition: 600ms all ease-in;
}

.accordionArrowClose {
    transform: rotate(360deg);
    transition: 600ms all ease-in;
}

.iconContainer {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}

.iconContainer i {
    color: white;
    transition: 500ms all ease;

}

.iconContainer i:hover {
    color: var(--accent-color);
    transition: 500ms all ease;
}

.jokeWidgetContainer{
    width: 30vw;
    height: 30vw;
    background-color: red;
}

/* animation */
@keyframes pluseAnimation {
    100% {
        opacity: 0;
        transform: scale(3);
    }
}


@media (width <=770px) {
    .headerContainer{
        padding: 1rem;
    }
    .headerRightButtonContainer{
        column-gap: 0rem;
    }

    .headerDescriptionLeft{
        display: none;
    }
    
    .headerLeftContainer{
        column-gap: 1rem;
    }
    .headerRightContainer{
        column-gap: .5rem;
        flex-direction: column;
        row-gap: .5rem;
    }
    .headerDescriptionRight{
        display: none;
        width: 100%;
        padding: .5rem;
    
    }
    .headerRightButtonContainer{
        column-gap: .5rem;
    }
    .outlineButtonContainer {
        min-width: 100px;
        padding: 10px;
        border-radius: 20px;
    }
    .contactFillContainer{
        display: none;
    }


   

    
    

}