@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Outline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    border: 0px;
    box-sizing: border-box;
    padding: 0px;
    scroll-behavior: smooth;
}


:root {

    /* layouts */

    --main-margin:2rem;
    --main-padding:2rem;
    --border:solid 1px white;


    /* colors */
    --primary-color: rgba(0, 0, 0, 1);
    --primary-color-08: rgba(0, 0, 0, 0.8);
    --primary-color-05: rgba(0, 0, 0, 0.5);
    --primary-color-03: rgba(0, 0, 0,1);

    --accent-color: rgba(97, 252, 100, 1);
    --accent-color-08: rgba(97, 252, 100, 0.8);
    --accent-color-05: rgba(97, 252, 100, 0.5);
    --accent-color-03: rgba(97, 252, 100, 0.3);

    --orange-color :rgba(249, 180, 45,1); 
}

/* body{
    background-color: black;
} */